* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}
.sidebar-vh{
	height: 100vh;
}
.profile-image{
	height: auto;
	width: 100px;
}
.bg-navy{
	background-color: rgb(2, 25, 39);
}
.nav-pills {
    --bs-nav-pills-link-active-bg: #053a56 !important;
}