<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Simple Quize Apps</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}">
    <!--Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">

</head>
<body>

<div class="nav-hw bg-navy text-light py-3 px-2 mx-0 my-0" th:fragment="navbar">
    <h5>Hello, Hridoy Krisna Das</h5>
</div>

<script type="text/ja<javascript" th:src="@{/js/bootstrap.min.js}" ></script>
<script type="text/javascript" th:src="@{js/jquery-3.6.0.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/fontawesome.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
</body>
</html>